* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    background: linear-gradient(#7d6cfc, #c635ea);
}

.action {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.action span {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #a13dea;
    font-size: 2em;
    transition: .3s ease-in-out;
}

.action.active span {
    transform: rotate(135deg);
}

.action ul {
    background-color: #fff;
    position: absolute;
    bottom: 55px;
    left: 50px;
    min-width: 250px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.action.active ul {
    opacity: 1;
    visibility: visible;
}

.action ul li {
    list-style: none;
    padding: 10px 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* transition: all 0.3s ease-in-out; */
}

.action ul li:hover {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.action ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.action ul li img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
    opacity: 0.2;
    filter: grayscale(1);
    transform: scale(0.8);
}

.action ul li:hover img {
    opacity: 0.8;
    filter: grayscale(0);
} 